.layout {
  background-color: #fff !important;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 1170px;
}
.header {
  background-color: #fff;
  margin: 20px 0;
  padding: 0;
}

.input-search {
  vertical-align: middle;
  input {
    &:hover {
      border: 1px solid #a8cf45;
    }
  }
  .ant-input:hover {
    border-color: #a8cf45;
  }
  .ant-input:focus {
    border-color: #a8cf45;
  }
  .ant-btn:hover {
    border-color: #a8cf45;
  }
  .ant-btn:focus {
    border-color: #a8cf45;
  }
}

.dropdown {
  position: relative;
  color: #a8cf45;
  &:active {
    color: #a8cf45;
  }
  .dropdown-menu {
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    float: left;
    font-size: 14px;
    left: 15px;
    list-style: outside none none;
    margin: 2px 0 0;
    min-width: 160px;
    padding: 5px 0;
    position: absolute;
    text-align: left;
    top: 100%;
    z-index: 1000;
    li {
      padding: 3px 20px;
      height: 25px;
      &:hover {
        background: #f0f2f5;
      }
      a {
        color: #a8cf45;
      }
    }
  }
}

.slide {
  img {
    width: 100%;
    object-fit: cover;
  }
}

.slick-dots {
  li {
    button {
      background-color: #a8cf45 !important;
      height: 10px !important;
    }
  }
}

.footer {
  button {
    font-size: 30px;
  }
}
