.list-menu {
  background-color: #a8cf45;
  a {
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 20px;
    &::after {
      content: "|";
      font-weight: 300;
      margin: 0 10px 0 10px;
      position: relative;
      top: -1px;
      &:last-child {
        content: "";
      }
    }
    &:hover {
      color: #ed3237;
      &::after {
        color: #ffffff;
      }
    }
  }
  li:last-child {
    a::after {
      content: "";
    }
  }
  ul {
    display: flex;
    list-style: none;
    min-height: 36px;
    align-items: center;
  }
}
