.App {
  width: 100%;
  height: 100vh;
}

ul {
  list-style: none;
  border: none;
  padding: 0;
  margin: 0;
}

.ant-btn:hover {
  border-color: #a8cf45;
  color: #a8cf45;
}
.ant-btn:focus {
  border-color: #a8cf45;
}
