body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ant-breadcrumb {
  margin-bottom: 15px;
}

.ant-menu {
  border: none;
  .ant-menu-item-active {
    color: #a8cf45;
  }
  .ant-menu-item-selected {
    background-color: white !important;
    color: #a8cf45;
    &::selection {
      background-color: white;
    }
  }
}

.login-form-button {
  width: 100%;
  background-color: #a8cf45 !important;
  border: #a8cf45;

  &:hover {
    border: #a8cf45;
  }
}

.btn-submit {
  background-color: #a8cf45 !important;
  border: #a8cf45;

  &:hover {
    border: #a8cf45;
  }
}
